*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Helvetica', sans-serif;
    color: #f3efefee;
    background: #1d1716;
}

.main{
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}

/* header */
.header, .logo-container, .right-links{
    display: flex;
    align-items: center;
}

.header, .featured-section, .favorites-section{
    padding: 10px 20px;
}


.header{
    justify-content: space-between;
}

.logo-container{
    gap: 1rem;
}


.right-links{
    list-style-type: none;
    gap: 1rem;
}


/* featured section */

.featured-section{
    display: flex;
    margin: 10px 0px;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}


.featured-info h2{
    font-size: 60px;
    margin: 5px 0;
}

.featured-info button{
    border: 2px solid;
    border-radius: 12px;
    padding: 10px;
    width: 100px;
    margin-top: 20px;
    cursor: pointer;
}

/* favorites section */
.favorites-section{
    text-align: center;
    background-color: #402a23;
}

.favorites-section h2{
    font-size: 35px;
    margin: 10px 0px;
    border-radius: 10px;
}

.favorites-cards-container{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 90px;
    gap: 1rem;
}


.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    gap: .8rem;
}

.card img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.card h3{
    font-size: 1rem;
}