*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Helvetica', sans-serif;
    color: #f3efefee;
    background: #1d1716;
}

.main{
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}

/* header */
.header, .logo-container, .right-links{
    display: flex;
    align-items: center;
}

.header, .featured-section, .favorites-section{
    padding: 10px 20px;
}


.header{
    justify-content: space-between;
}

.logo-container{
    gap: 1rem;
}


.right-links{
    list-style-type: none;
    gap: 1rem;
}

.right-links button{
    width: 80px;
    background: none;
    color: white;
}


/* featured section */

.featured-section{
    display: flex;
    margin: 10px 0px;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: nowrap;
}

.featured-section img{
    flex-shrink: 1;
}


.featured-info h2{
    font-size: 60px;
    margin: 5px 0;
}

button {
    border: 2px solid;
    border-radius: 12px;
    padding: 10px;
    width: 100px;
    cursor: pointer;
}

.featured-section button{
    margin-top: 20px;
}

/* favorites section */
.favorites-section{
    text-align: center;
    background-color: #402a23;
}

.favorites-section h2{
    font-size: 35px;
    margin: 10px 0px;
    border-radius: 10px;
}

.favorites-cards-container{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 90px;
    gap: 1rem;
}


.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    gap: .8rem;
}

.card img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.card h3{
    font-size: 1rem;
}

/* about us section */
.about-us-section{
    background-color: #a55233;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    text-align: center;
    margin: auto;
}

.about-us-info{
    display: flex;
    flex-direction: column;
    max-width: 70%;
    height: 300px;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.about-us-section p{
    font-size: 25px;
    font-weight: 100;
}

/* contact us */


.contact-us-section{
    height: 250px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-card{
    display: flex;
    width: 1000px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 1rem;
    max-height: 95%;
    padding: 40px;
    background-color:  #402a23;
    border-radius: 10px;
}
.contact-card div{
    flex-grow: 1;
}
.contact-card h2{
    margin-bottom: 10px;
}

.contact-card button{
    background: none;
    color: white;
    height: 50px;
    flex-basis: 200px;
}

/* footer */

.footer{
    background-color: #402a23;
    color: white;
    text-align: center;
    padding: 30px;
}

